table
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even)
{
    background-color: #dddddd;
}
a:link
{
    color: blue;
}
a:visited /* visited link */
{
    color: blue;
}
a:hover /* mouse over link */
{
    color: blue;
}
a:active /* selected link */
{
    color: blue;
}
.Label
{
    display: inline-block;
    text-align: right;
    margin: 0 4px 0 0;
}
.VI
{
    width: 160px;
}
.Gross
{
    width: 290px;
}
.Sum
{
    width: 160px;
}
.Under
{
    width: 180px;
}
.TextEllipsis
{
    display: inline-block;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.modal /* The Modal (background) */
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #000; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content /* Modal Content */
{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close /* The Close Button */
{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
